@page "/EventAudience/Index"
@using EventMonitoring.ph.ViewModels 
 @using EventMonitoring.ph.Data.Entities
@using EventMonitoring.ph.Components.Pages.content
@using Newtonsoft.Json
@using codegen.Extensions
@using codegeneratorlib.Helpers
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager;

<PageTitle>List Page</PageTitle>

<!-- page content -->
<ThreeSectionsTemplate>
    <Col9Template>
        @* <AdminHomeHeader /> *@
        <NetcodeHubBreadCrumb BreadCrumbs="crumbs" ReloadPageOnClick="true" BackgroundColor="@BreadCrumbBackgroundColor.SecondarySubtle()" />
        @* <MudBlazor.MudDivider class="mt5" /> *@
        <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content js-EventAudience-main-container">					
					
						<div class="row">
							<!--BUTTON TOP-->
							<div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-warning btn-custom float-end" id="js-export-EventAudience" @onclick="()=>ExportFile()"><i class="fa fa-download"></i> Export Data</button>
								<a href="/EventAudience/Create" class="btn btn-primary btn-custom float-end popup"><i class="fa fa-plus"></i> Create New</a>
							</div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <MudBlazor.MudDivider class="mt5" />
                            </div>

                        </div>
                        <div class="row">
                            <!--SEARCH AREA-->
                            <form class="form-horizontal" id="search-EventLine-form" @onsubmit="()=>SearchEventAudience()">
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label>Search by: (EventLineName)</label>
                                        <input class="form-control" id="js-Keyword-search" @bind="searchInfo.Keyword" />
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                                        <label>Page Size:</label>
                                        <select class="form-control" id="js-page-size" @bind="PageSize">
                                            <option disabled>Max rows</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group" style="margin-top:20px;">
                                        <button type="submit" class="btn btn-primary btn-custom"><i class="fa fa-search"></i> Search</button>
                                </div>
                        </form>
                                </div>

						<div class="row">
							<!--BULK BUTTON-->
							<div class="col-md-12 col-sm-12 col-xs-12" style="display:none" id="js-delete-container">
								<button class="btn btn-primary btn-md btn-custom fa fa-trash" id="js-delete-bulk">Delete</button>
							</div>
                             @if (pEventAudiences == null)
                             {
                                 <br />
                                 <p>Loading..</p>
                             }
                             else
                             {
							<!--DATA TABLE-->
                                <div class="col-md-12 col-sm-12 col-xs-12 js-EventAudience-list-container">
                                    <table class="table table-hover bulk_action" id="js-table-EventAudience" style="margin-top:10px;">
                                        <thead>
                                            <tr>
                                                <th>Qr Code</th>
                                                <th>Name</th>
                                                <th>Email Address</th>
                                                <th>Event Remarks</th>
                                                <th>Venue</th>
                                                <th>Description</th>
                                                <th>Start Time Date</th>
                                                <th>End Time Date</th>
                                                <th>Status</th>
                                                <th class="column-title no-link last"><span class="nobr">Action</span></th>
                                            </tr>
                                        </thead>
                                        <tbody id="js-load-EventAudience-row">
                                            @foreach (var EventAudience in pEventAudiences.List)
                                            {
                                                <tr id="selected-row-eventaudienceid">
                                                    <td></td>
                                                    <td>@EventAudience.FirstName @EventAudience.LastName</td>
                                                    <td>@EventAudience.EmailAddress</td>
                                                    <td>@EventAudience.EventRemarks</td>
                                                    <td>@EventAudience.EventTitleVenueName</td>
                                                    <td>@EventAudience.EventTitleDescription</td>
                                                    <td>@EventAudience.EventTitleStartTimeDate</td>
                                                    <td>@EventAudience.EventTitleEndTimeDate</td>
                                                    <td>@EventAudience.EventTitleStatus</td>
                                                    <td><a href="/EventAudience/Details/@EventAudience.EventAudienceId" class="popup"><i class="fa fa-info-circle"></i></a> <a href="/EventAudience/Update/@EventAudience.EventAudienceId" class="popup"><i class="fa fa-edit"></i></a> <a @onclick="()=>DeleteEventAudience(EventAudience.EventAudienceId)" style="cursor:pointer" id="js-EventAudience-delete" data-id="EventAudienceId"><i class="fa fa-trash-o"></i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

							 <!--PAGINATION AND SUMMARY-->
							<div class="col-md-12 col-sm-12 col-xs-12 js-pagination-EventAudience">

								<div id="js-page-history" style="float:left;margin-top:25px;color:#cc503b;">
									<!--PAGINATION HISTORY-->
                                    @pEventAudiences?.PageSummary
								</div>

								<div style="float:right;margin-top:20px;">
									<ul class="pagination pagination-md" id="js-ul-pagination">
                                    <!--LOAD PAGINATION-->
                                    @* <li id="js-prev-btn"><a class="page-link" style="cursor:pointer;" @onclick="()=>ClickPaginationPrev()">&laquo;</a></li> *@
                                    @for (var i = 0; i < @pEventAudiences?.PageIndices?.Count(); i++)
                                    {
                                        var pageNum = @pEventAudiences?.PageIndices?.ToArray()[i];

                                        <li id="js-li-count-@pageNum" class="check page-item li-children-ref" data-id="@pageNum">
                                            <a style="cursor:pointer;" class="page-link" id="click-User-pagination-@pageNum" @onclick="()=>ClickPagination(pageNum)" data-id="@pageNum">
                                                @pageNum
                                            </a>
                                        </li>
                                    }
                                    @* <li id="js-next-btn"><a class="page-link" style="cursor:pointer;" @onclick="()=>ClickPaginationNext()">&raquo;</a></li> *@
									</ul>
							   </div>
						</div>
                       }
					</div>
				</div>
            </div>
        </div>
    </div>
    </Col9Template>
    <Col3Template>
        <Banner />
    </Col3Template>
    <FooterTemplate><Footer /></FooterTemplate>
</ThreeSectionsTemplate>

<NetcodeHubToast @ref="ToastComponent" Duration="4000" />

@code {

    [CascadingParameter]
    public Task<AuthenticationState> userAuthState { get; set; }

    private EventAudienceSearch searchInfo = new();
    private Pagination<EventAudienceVM> pEventAudiences;
    private EventAudienceVM oEventAudienceVM = new();
    private string responseMessage;
    private int PageSize = 10;
    private int CurrentPage = 1;
    NetcodeHubToast ToastComponent;
    private Dictionary<string, string> crumbs = new Dictionary<string, string>()
    {
        {"Home", "/"},
        {"EventAudience List", null!}
    };

    protected override async Task OnInitializedAsync()
    {
        if ((!customAuthorizationService.CustomClaimChecker((await userAuthState!).User, DefaultClaims.ManageUser)))
            NavManager.NavigateTo("Account/Access-Denied");

        var search = new EventAudienceSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadEventAudience(CurrentPage, PageSize, search);
        pEventAudiences = list;
    }

    private async Task ExportFile()
    {
        var restService = new RestService<ExcelData>();
        //var json = JsonConvert.SerializeObject(search);
        var result = new ServiceModel<ExcelData>();
        result = await restService.Get($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/EventAudiences/export/report");
        if (!result.IsSuccess)
        {
        }
        else
        {
            var file = $"data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8;base64,{result.Data.File}";

            NavigationManager.NavigateTo(file);
        }
    }

    private async Task<Pagination<EventAudienceVM>> LoadEventAudience(int? currpage, int pagesize, EventAudienceSearch search)
    {
        var restService = new RestService<Pagination<EventAudienceVM>>();
        //var json = JsonConvert.SerializeObject(search);
        var result = new ServiceModel<Pagination<EventAudienceVM>>();
        result = await restService.Get($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/EventAudiences/List/Page{currpage}/PageSize{pagesize}?Keyword={search?.Keyword}");
        if (!result.IsSuccess)
        {
            return pEventAudiences = null;
        }
        else
        {
            return pEventAudiences = result.Data;
        }
    }

    private async Task SearchEventAudience()
    {
        var search = new EventAudienceSearch();
        search.Keyword = searchInfo?.Keyword;
        var pullout = await LoadEventAudience(CurrentPage, PageSize, search);
        pEventAudiences = pullout;
    }

    public async Task DeleteEventAudience(int id)
    {
        var restService = new RestService<List<EventAudienceVM>>();

        var result = new ServiceModel<List<EventAudienceVM>>();

        result = await restService.Delete($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/EventAudiences/{id}/delete");

        if (!result.IsSuccess)
        {
            responseMessage = result.Error;
            await ToastComponent!.ShowErrorToast("Error", responseMessage);
        }
        else
        {
            var search = new EventAudienceSearch();
            search.Keyword = searchInfo?.Keyword;
            var list = await LoadEventAudience(CurrentPage, PageSize, search);
            pEventAudiences = list;

            await InvokeAsync(() => StateHasChanged());
            await ToastComponent!.ShowSuccessToast("Success", "Successfully Deleted!");
        }
    }

    private async Task ClickPagination(int? elementId)
    {
        var currrentPage = elementId;
        var search = new EventAudienceSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadEventAudience(currrentPage, PageSize, search);
        pEventAudiences = list;
    }
}